<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/static/home/style.css">
    <title>DJEVENT- {% block title %}{% endblock title %}</title>
</head>
<body>
    <nav>
        <div  class="logo">
            <a href="/">DJEVENT</a>
        </div>
        <form class="input-box" action="/search" method="POST">
    {% csrf_token %}
            <input type="text" name="query" placeholder="Search Events">
        </form>
        <ul class="navlinks">
          
            <li><a href="/events">Events</a></li>
            {% if  user.is_authenticated  %}
          
            <li><a href="/addEvent">Add Event</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
            
            <li><a href="/logout" class="btn">Logout</a></li>
            {% else %}
            <li><a href="/login" class="btn">Login</a></li>
            <li><a href="/register" class="btn">Register</a></li>
            {% endif %}
           
        </ul>
        <div class="hamburger">
            <i class="fas fa-bars"></i>
        </div>
    </nav>
    {% for message in messages  %}
            <div class="message-container {{ message.tags }}">
      <div class="">
            <p class="message">{{ message }}</p>
      </div>
      <button type="button" id="closeMsg" name="button"><i class="fas fa-times"></i></button>

    </div>
    {% endfor %}
    {% block body %}
    {% endblock body %}
    <footer>
        <p>Copyright &copy; SuhasKamble.com</p>
    </footer>

    <script>
          try{

           setTimeout(() => {
            document.querySelector('.message-container').style.display="none"
           }, 5000);   
          const btn = document.getElementById('closeMsg');
          btn.addEventListener("click",()=>{
            document.querySelector('.message-container').style.display="none"
          })
      }catch(e){
        console.log(e)
      }
      const navLinks = document.querySelector('.navlinks')
      const hamburger = document.querySelector('.hamburger');
      const bars = document.querySelector('.fa-bars')
      
      hamburger.addEventListener('click',()=>{
          navLinks.classList.toggle('active');
            bars.classList.toggle('fa-times')  
      })
    </script>
</body>

</html>
